.nx-theme-form .nx-panel-header {
    background-image: url('https://nicomartineu.github.io/Stylesheets/NintexBanner.jpg');
    background-size: cover;
    background-position-y: -50px;
    height: 100px;
    --ntx-form-theme-color-secondary: #FFF8F4;
    --ntx-form-theme-border-radius: 16px;
    margin-bottom: 16px;
}

.nx-theme-form .nx-group-control-container .nx-group-control-header {
padding: 0;
}

.nx-theme-form .nx-group-control-container .nx-group-control-header ntx-richtext-label .nx-theme-richtext {
    margin-bottom: 9px;
    padding-top: 9px;
    font-size: xx-large !important;
    padding-left: 16px;
}
